html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	height: 1300px;
}

#topheader {
	width: 100%;
	height: 45px;
	background: #F64747;
	
}

#topheadercenter {
	width: 1000px;
	height: 45px;
	margin: auto;
}

#title {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 32px;
	font-weight: 600;
	text-decoration: none;
	float: left;
	margin: 0px 0px 0px 31px;
}

#content {
	width: 1000px;
	height: 100%;
	margin: auto;
	padding: 10px;
}

#footer {
	width: 100%;
	height: 100px;
	background: #2e2e2e;
}

#footertext {
	color: rgb(73, 73, 73);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	font-weight: 600;
	text-align: center;
	display: block;
	padding: 37px 0px 0px 0px;
	letter-spacing: 3px;
}

.nav {
	margin: auto;
	display: block;
	height: 23px;
	width: 390px;
}

.nav ul {
	position: absolute;
	margin: 5px 0px;
}

.nav ul li {
	float: left;
	list-style-type: none;
	padding: 5px 18px;
	border: 1px solid transparent;
}

.nav ul li:hover {
	float: left;
	list-style-type: none;
	border-radius: 2px;
	border: 1px solid white;
	-webkit-transition-duration: 0.4s;
}

.nav ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

.signin {
	float: right;
}

.signin ul li {
	float: left;
	list-style-type: none;
	padding: 5px 7px;
	margin: 6px 0px;
}

.signin ul li:nth-child(1) {
	float: left;
	list-style-type: none;
	padding: 5px 7px;
	margin: 6px 0px;
	border-right: 1px solid rgba(255, 255, 255, 0.22);

}


.signin ul li a{
	color: white;
	text-decoration: none;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
}

#profilearea {
	width: 200px;
	height: 100%;
	border-right: 1px solid rgb(239, 239, 239);
	position: absolute;
}

.profilepicture {
	width: 84%;
	margin: auto;
	padding: 16px 0px 0px 0px;
	display: block;
}

.editprofile {
	width: 157px;
	height: 29px;
	background: rgb(246, 71, 71);
	margin: 12px auto;
	border-radius: 1px;
}

.editprofilehalf {
	width: 157px;
	height: 14px;
	background: rgb(255, 83, 83);
	border-radius: 1px;
}

.editprofile span {
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	margin: -10px auto;
	text-align: center;
	display: block;
}

.editprofilelink {
	text-decoration: none;
}

.rank {
	color: black;
	text-align: center;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 5px 0px 0px 0px;	
}

.user {
	color: black;
	text-align: center;
	display: block;
	font-family: 'Source Sans Pro', sans-serif;
	margin: 5px 0px 0px 0px;
	font-size: 20px;
}

.infoarea {
	width: 783px;
	height: 100%;
	float: right;
}

.about {
	height: 270px;
}

.sectionheader {
	height: 33px;
	border-bottom: 1px solid rgb(239, 239, 239);
}

.sectionheader span {
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	margin: 0px 0px 0px 12px;
}

.sectionheader span span {
	color: rgb(150, 42, 42);
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0px 0px 0px 4px;
}

.editabout {
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 23px;
	margin: 0px 0px 4px 112px;
	display: block;
}

.editprofiletitle span {
	color: red;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 30px;
	text-align: center;
	display: block;
	margin: 5px 0px 10px 0px;
}

.underline {
	width: 170px;
	border-bottom: 1px solid rgb(215, 215, 215);
	margin: 12px auto 0px auto;
	display: block;
}

.editprofileform textarea {
	resize: none;
	margin: auto;
	display: block;
}

.editprofileform [type="submit"]{
	display: block;
	float: right;
	margin: 20px 140px 0px 0px;
	background: rgb(246, 71, 71);
	border: 2px solid rgb(246, 71, 71);
	border-radius: 2px;
	padding: 5px 32px;
	color: rgb(255, 255, 255);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
}

.editprofileform [type="submit"]:hover{
	display: block;
	float: right;
	margin: 20px 140px 0px 0px;
	background: rgb(255, 255, 255);
	border: 2px solid rgb(246, 71, 71);
	border-radius: 2px;
	padding: 5px 32px;
	color: rgb(246, 71, 71);
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 17px;
	-webkit-transition-duration: 0.5s;
	cursor: pointer;
}

.abouttextarea {
	margin: 14px;
}